# Import libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# Import dataframes

In [17]:
df_ords = pd.read_csv(r'C:\Users\ZenBook\Instacart Basket Analysis_30.09.2025\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [18]:
df_prods = pd.read_csv(r'C:\Users\ZenBook\Instacart Basket Analysis_30.09.2025\02 Data\Original Data\products.csv', index_col = False)

In [19]:
df_ords_prior = pd.read_csv(r'C:\Users\ZenBook\Instacart Basket Analysis_30.09.2025\02 Data\Original Data\orders_products_prior.csv', index_col = False)

In [21]:
# check the dimensions of the 'df_ords_prior' dataframe
df_ords_prior.shape

(32434489, 4)

In [22]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [23]:
# check the dimensions of the 'df_ords'
df_ords.shape

(3421083, 8)

In [24]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,prior,1,2,8,NaN,True
1,2398795,1,prior,2,3,7,15.0,False
2,473747,1,prior,3,3,12,21.0,False
3,2254736,1,prior,4,4,7,29.0,False
4,431534,1,prior,5,4,15,28.0,False

In [33]:
# inner merging dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [34]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [35]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [39]:
path = r'C:\Users\ZenBook\Instacart Basket Analysis_30.09.2025\02 Data\Prepared Data'

In [41]:
df_merged_large.to_pickle(os.path.join(path, 'orders_products_combined.pkl'))