# Exercise 4.6 Combining and Exporting Data

# Import libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# Import dataframes

In [2]:
#creating a path
path = r'C:\Users\ZenBook\Instacart Basket Analysis_30.09.2025'

In [3]:
#importing 'orders_products_combined' dataframe from the pickle file
orders_products_combined = pd.read_pickle(os.path.join(path, '02 data' ,'prepared data' , 'orders_products_combined.pkl'))

In [4]:
# determine the shape
orders_products_combined.shape

(32434489, 12)

The shape of the 'orders_products_combined' dataframe are still the same.

# Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [5]:
# check the columns of the 'orders_products_combined'
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [6]:
# import 'products_checked' dataset 
df_prods_check = pd.read_csv(r'C:\Users\ZenBook\Instacart Basket Analysis_30.09.2025\02 Data\Prepared Data\products_checked.csv', index_col = False)

In [7]:
# check shape of the df_prods_check
df_prods_check.shape

(49677, 5)

In [8]:
# check columns of the df_prods_check
df_prods_check.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

To merge the df_ords_prods_combined with products dataframe we will use the 'product_id' column as a key.

In [9]:
#delete the '_merge' column of the 'orders_products_combined'
orders_products_combined = orders_products_combined.drop(['_merge'], axis=1)

In [10]:
# check columns of the 'orders_products_combined'
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,True,196,1,0
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0

In [11]:
orders_products_combined.shape

(32434489, 11)

In [12]:
# merging 'df_prods_check' of the 'orders_products_combined' without '_merge' column
df_ords_prods_big = df_prods_check.merge(orders_products_combined, on = 'product_id', how = 'inner', indicator = True)

In [13]:
df_ords_prods_big.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,False,11,1,both

In [15]:
df_ords_prods_big.shape

(32406041, 16)

# Confirm the results of the merge using the merge flag.

In [16]:
#result of merge using merge flag
df_ords_prods_big['_merge'].value_counts()

_merge
both          32406041
left_only            0
right_only           0
Name: count, dtype: int64

# Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [17]:
# Export dataframe as .pkl
df_ords_prods_big.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))